.gameDiv{
    width: 100%;
    height: 100%;
    display: flex;
}

.gameColumn1, .gameColumn2, .gameColumn3{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.gameColumn1, .gameColumn3{
    width: 25%;
    flex-direction: column;
}

.gameColumn2{
    flex-direction: column;
}

.gameTopContainer, .gameBotContainer{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.gameMid{
    height: 50%;
    border: solid 5px;
    display: flex;
    flex-wrap: wrap;
}

.gameUserContainer{
    height: fit-content;
    margin: auto;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-size: 100% 100%;
}

.gameUserPic{
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}

.gameUserPosition{
    margin: auto;
    border: solid 1px;
    background: lightskyblue;
}

.gameUserName{
    margin: auto;
    text-align: center;
    font-size: 0.5vw;
}

.gameUserContainerColumn{
    width: 100%;
    max-width: none;
    max-height: 25%;
}

.gameUserGuess{
    text-align: center;
    font-size: 0.5vw;
}

.gameUserDead{
    position: relative;
    width: 100%;
    height: 100%;
}

/* picker */
.gameUserPicker{
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    border: 1px solid;
    border-radius: 25%;
    background: mistyrose;
}

.gameDead{
    margin-bottom: 50%;
}

.gameJudge{
    width: 100%;
    max-height: 75%;
    font-size: 2vw;
}

.gameExitGame{
    margin: auto;
    border: 1px solid;
    border-radius: 25%;
    background: palegoldenrod;
    padding: 5%;
}

.gameExitGameButton{
    font-size: 1.5vw;
}