.lobby{
    border: solid 5px black;
    width: 75vw;
    height: 66vh;
    display: flex;
    margin: auto;
}

/* lobby left */
.lobbyLeft{
    width: 70%;
    border-right: solid 5px;
}

/* lobby chat */
.lobbyChat{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.lobbyChatTitle{
    width: 100%;
    font-size: 2vw;
    text-align: center;
    border-bottom: solid 5px;
}

.lobbyChatForm{
    display: flex;
    border-top: solid 5px;
}

.lobbyChatMessages{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lobbyChatInput{
    flex-grow: 1;
}

.inputBox{
    width: 100% !important;
    border: black 1px solid;
}

.chatContent{
    display: flex;
    width: 100%;
    max-height: 25vh;
}

.chatPicture{
    width: 20%;
    border-radius: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.chatMessageContainer{
    display: flex;
    flex-grow: 1;
    max-width: 80%;
    flex-direction: column;
}

.chatMessage{
    margin: auto;
    font-size: 1.5vw;
    overflow-wrap: break-word;
    width: 100%;
}

.chatUsername{
    opacity: 50%;
    color: gray;
    font-size: 0.5vw;
}

/* Lobby Top CSS */
.lobbyTop{
    border-bottom: solid 5px;
    height: 30%;
    width: 100%;
    display: flex;
}

.profilePicContainer{
    height: 100%;
}

.profilePic{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: solid 1px black;
}

.topInfo{
    height: 100%;
    flex-grow: 1;
    min-width: 50%;
    display: flex;
}

.topInfoText{
    font-size: 3vw;
    margin: auto;
}

/* Lobby Bot CSS */
.lobbyBot{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lobbyBotBot{
    height: 80%;
    width: 100%;
    display: flex;
}

.lobbyCreateRoom{
    height: 20%;
    border-bottom: solid 5px;
    display: flex;
}

.lobbyCreateRoomButton{
    margin: auto;
    border: solid 5px;
    border-radius: 25%;
    font-size: 2vw;
    background: lightgray;
    font-weight: 600;
}

/* create room menu css */
.lobbyCreateRoomOption{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.createRoomRow{
    display: flex;
}

.optionName{
    width: 33%;
}

.createRoomButton{
    margin: auto;
    border: solid 5px;
    padding: 1%;
    border-radius: 15%;
    background: lightpink;
}

/* lobby room css */
.lobbyRoom{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.lobbyRoomName{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
}

.lobbyRoomUserContainer{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

.lobbyRoomUser{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
}

.lobbyRoomUserIcon{
    max-width: 100%;
}

.lobbyRoomUserName{
    margin: auto;
}

.lobbyRoomButtonContainer{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-around;
}

.lobbyRoomButton{
    margin: auto;
    border: solid 5px;
    padding: 1%;
    border-radius: 15%;
    background: lightpink;
}

/* lobby room list css */
.lobbyRoomList{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.roomListSadness{
    margin: auto;
    font-size: 3vw;
}

.roomListContent{
    height: fit-content;
    border: solid 3px;
    border-radius: 15%;
    padding: 0.1vw;
    margin: auto;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

.roomListName{
    border: solid 3px;
    border-radius: 15%;
    background: lightblue;
}

.roomListJoin{
    border: solid 2px;
    background: lightsalmon;
    margin: auto;
}